@page
@model Mangas_CR.Pages.descripciónModel
@{
   
}
<html>
<body>
    <style>
        div.a {
            text-aling: center
        }

    </style>
    <div class="a"
        <i>
            </big>
            <h1 style="color:orange;"> Dado a su atractivo mundial, el manga es un vehiculo ideal para sensibilizar a la población sobre el sistema de propiedad intelectual </h1>
            <img src="https://m.media-amazon.com/images/I/61t4JIwo0PL.jpg" 
        </i>
         
</body>
</html>

