@page
@model Mangas_CR.Pages.GaleriaModel
@{ViewData["Title"] = "Galería";

}
<h1 Galería </h1>

<div style="--w: 260px; --h: 200px;"
      <img src="https://www.cultture.com/pics/2021/04/naruto-las-10-mejores-cosas-que-pasaron-despues-de-shippuden-0.jpg" width="260" height="200" alt=" Galería CSS 1"/>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwXYFoH1iCylBeRwZyxsadyjNt4CUCeOrNKWO4xPVRkjskgoWSTSt1ylA1Wh3zxfDRpMc&usqp=CAU" width="260" height="200" alt=" Galería CSS 2"/>
      <img src="https://d3isma7snj3lcx.cloudfront.net/optim/images/photos/00/01/29/94/ME0001299442_2__220_220__218-285-438-505.jpg" width="260" height="200" alt=" Galería CSS 3"/>
      <img src="https://i.jeuxactus.com/datas/jeux/n/a/naruto-shippuden-ultimate-ninja-impact/xl/naruto-shippuden-u-4e264d0b3f03b.jpg" width="260" height="200" alt=" Galería CSS 4"/>
       <img src="https://i.jeuxactus.com/datas/jeux/n/a/naruto-shippuden-ultimate-ninja-storm-4/xl/naruto-shippuden-ultimate-548eb51be6a3f.jpg" width="260" height="200" alt=" Galería CSS 4"/>

     <div />
     <div style="--w: 260px; --h: 200px;">

         <div style="--w: 260px; --h: 200px;"
      <img src="https://alfabetajuega.com/hero/2021/02/itachi-uchi-naruto.jpg?width=480&aspect_ratio=19:10" width="260" height="200" alt=" Galería CSS 1"/>
     <img src="https://forum-narutoes.oasgames.com/api/editor/get-img?img_name=editor%252F2017-06-12%252F7d637f0033c8adfb7a44e653a102755c" width="260" height="200" alt=" Galería CSS 2"/>
      <img src="https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/entertainment/maxresdefault-87988aea687a6eb0ead0a46f98a9e0e2.jpg" width="260" height="200" alt=" Galería CSS 3"/>
      <img src="https://sm.ign.com/ign_latam/screenshot/default/itachi-uchiha-mangekyou-sharingan-lentes-de-contacto-naruto_f3e6.jpg" width="260" height="200" alt=" Galería CSS 4"/>
          <img src="https://www.geekmi.news/__export/1630087489757/sites/debate/img/2021/08/27/itachi-1.jpg_903948830.jpg" width="260" height="200" alt=" Galería CSS 4"/>

     <div style="--w: 260px; --h: 200px;">
         <div style="--w: 260px; --h: 200px;"
       <img src="https://static.wikia.nocookie.net/naruto/images/0/08/Sasuke_enojado_con_Itachi_por_no_querer_entrenar.png/revision/latest/scale-to-width-down/705?cb=20160419042448&path-prefix=es" width="260" height="200" alt=" Galería CSS 1"/>
     <img src="http://pm1.narvii.com/6589/1049269353f12441893019feb2630daf0e4c15a5_00.jpg" width="260" height="200" alt=" Galería CSS 2"/>
      <img src="https://areajugones.sport.es/wp-content/uploads/2017/03/maxresdefault-18.jpg" width="260" height="200" alt=" Galería CSS 3"/>
         <img src="http://pm1.narvii.com/6186/2dd0f54d3597c6cfb891cbe2a780e385a5529e96_00.jpg" width="260" height="200" alt=" Galería CSS 4" />
          <img src="https://pbs.twimg.com/media/Dp0exFyW4AEN-fL.jpg" width="260" height="200" alt=" Galería CSS 4" />


     <div />
     <div style="--w: 260px; --h: 200px;">
         <div style="--w: 260px; --h: 200px;"
      <img src="https://i.pinimg.com/originals/dd/bc/e6/ddbce675ad7c46d75046754955e755f0.jpg" width="260" height="200" alt=" Galería CSS 1"/>
     <img src="https://i.pinimg.com/originals/dd/bc/e6/ddbce675ad7c46d75046754955e755f0.jpg" width="260" height="200" alt=" Galería CSS 2"/>
      <img src="https://i.pinimg.com/originals/dd/bc/e6/ddbce675ad7c46d75046754955e755f0.jpg" width="260" height="200" alt=" Galería CSS 3"/>
      <img src="https://i.pinimg.com/originals/dd/bc/e6/ddbce675ad7c46d75046754955e755f0.jpg" width="260" height="200" alt=" Galería CSS 4"/>
         <img src="https://i.pinimg.com/originals/dd/bc/e6/ddbce675ad7c46d75046754955e755f0.jpg" width="260" height="200" alt=" Galería CSS 4"/>
     <div />
    <div style="--w: 260px; --h: 200px;">

<


